@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

html {
    height: 100%;
}
body {
    background: url(../images/ren-ran-Jy6luiLBsrk-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Gotu', sans-serif;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(40, 40, 40);
    font-size: .8rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(58, 58, 58);
}
.navbar-light .navbar-brand {
    color: rgba(9, 9, 9, 0.9);
}
.bg-light {
    background-color: #93f680!important;
}
#content {
    top: 30%;
    position: absolute;
    left: 50%;
}
img, .top-picture {
    margin-top: 1%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 20rem;
    width: 80%;
    border: 2px solid black;
}
h1 {
    font-size: 5rem;
    text-shadow: 0px 4px 8px rgba(171, 171, 171, .5), 0px 4px 8px rgba(106, 101, 91, 0.851), 0px 4px 8px rgba(91, 72, 36, 0.851);
    font-weight: 700;
    transform: translate(-50%, -50%);
}
footer {
    background-color: #000000c9;
    height: 35.5%;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    body {
      background-color: rgb(238, 150, 144);
    }
    img, .top-picture {
        position: relative;
        text-align: center;
        vertical-align: middle;
        height: 25rem;
        width: 100%;
        border: 2px solid black;
    }
    #content {
        top: 50%;
        position: absolute;
        left: 50%;
    }
  }